<ion-header>
  <ion-toolbar>
    <ion-title>
      Gráficos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-img src="/assets/graph.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Viciado em números!</ion-card-subtitle>
        <ion-card-title>Histórico de Cotação</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui em breve ficará o gráfico com o histórico de cotações do Dollar</p>
      </ion-card-content>
    </ion-card>
</ion-content>
