<ion-header>
  <ion-toolbar>
    <ion-title>
      Converte 2 (BETA)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<!--
    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>Cotação {{ name }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>
          <ion-card-subtitle>ÚLTIMA COTAÇÃO</ion-card-subtitle>
          <ion-card-title>R$ {{ ask }}</ion-card-title>
          <br><br>
          <ion-card-subtitle>Atualizado em: {{ create_date }}</ion-card-subtitle>
        </p>
      </ion-card-content>
    </ion-card>
-->

    <ion-item>
        <ion-label><b>{{ name }}</b> <h4>{{ create_date }}</h4></ion-label>
        <ion-badge color="{{ color }}" slot="end">R$ {{ ask }}</ion-badge>
    </ion-item>

    <ion-card>
        <ion-card-header>
          <ion-card-title>Converter para Real</ion-card-title>
          <ion-card-subtitle>Digite o Valor em Dolar</ion-card-subtitle>
        </ion-card-header>

        <ion-item>
          <ion-label>Forma de pagamento</ion-label>
          <ion-select [(ngModel)]="trType" name="trType" id="trType" multiple="false" interface="action-sheet" placeholder="Selecione">
            <ion-select-option [value]="item" *ngFor="let item of tipos">{{item.nome}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-input class="box" [(ngModel)]="valUs" type="number" id="valUs" size=40 style="text-align: left; font-size: 40px;" (ionChange)="onChange()"></ion-input>
        <ion-input class="box" [(ngModel)]="valBr" readonly id="valBr" size=40 style="text-align: left; font-size: 40px; "></ion-input>
        <ion-label id="valImposto"><small>Valor do imposto pago: R$ {{ taxas }}</small></ion-label>

      </ion-card>
      <div class="ion-padding">
        <ion-button expand="block" color="success" type="submit" class="ion-no-margin" (click)="onChange()" >Converte</ion-button>
      </div>
</ion-content>