<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Converte 2 (BETA)
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="abrepesquisa()"><ion-icon slot="icon-only" name="star"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" snapback-duration="1000ms" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingText="Arraste e solte para atualizar a cotação"
    refreshingText="Atualizando cotação...">
  </ion-refresher-content>
  </ion-refresher>

<!--
    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>Cotação {{ name }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>
          <ion-card-subtitle>ÚLTIMA COTAÇÃO</ion-card-subtitle>
          <ion-card-title>R$ {{ ask }}</ion-card-title>
          <br><br>
          <ion-card-subtitle>Atualizado em: {{ create_date }}</ion-card-subtitle>
        </p>
      </ion-card-content>
    </ion-card>
-->
    <ion-item>
        <ion-label><b>{{ name }}</b> <h4>{{ create_date }}</h4></ion-label>
        <ion-badge color="{{ color }}" slot="end">R$ {{ ask }} </ion-badge>
       <!-- <ion-badge color="{{ color }}" slot="end">{{ varBid }} </ion-badge> -->
    </ion-item>

    <ion-card>
        <ion-card-header>
          <ion-card-title>Converter para Real</ion-card-title>
          <ion-card-subtitle>Digite o Valor em Dolar</ion-card-subtitle>
        </ion-card-header>

        <ion-item>
          <ion-label>Forma de pagamento</ion-label>
          <ion-select [(ngModel)]="trType" name="trType" id="trType" multiple="false" interface="action-sheet" placeholder="Selecione">
            <ion-select-option [value]="item" *ngFor="let item of tipos">{{item.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        currencyMask [(ngModel)]="value" 
        <ion-input class="box" currencyMask [(ngModel)]="valUs" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" type="number" id="valUs" placeholder="USD" size=40 style="text-align: left; font-size: 40px;" (ionChange)="onChange()"></ion-input>
        <ion-input class="box" readonly id="valBr" placeholder ="REAIS" size=40 style="text-align: left; font-size: 40px; "></ion-input>
        <ion-label id="valImposto"><small>Valor do imposto pago: R$ {{ taxas }}</small></ion-label>

      </ion-card>
      <div class="ion-padding">
        <ion-button expand="block" color="primary" type="submit" class="ion-no-margin" (click)="converte()" >Converte</ion-button>
      </div>
     <div class="padding-txt"><p><a class="txt-box" href="https://forms.gle/yfY4kFpicVHFo5ACA" target="_blank">O que está achando da versão BETA? Deixe seu feedback</a></p></div>
     <div class="txt">© georgearaujo.com.br</div>
       
   
</ion-content>