<ion-header>
  <ion-toolbar>
    <ion-title>
      Sobre este Aplicativo
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="abrepesquisa()"><ion-icon slot="icon-only" name="star"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Atenção</ion-card-subtitle>
      <ion-card-title>Aviso Importante</ion-card-title>
    </ion-card-header>
    <ion-card-content>As informações exibidas por este aplicativo/página web, são de caráter meramente informativo.<br>Para valores reais, por favor consulte um agente bancário.</ion-card-content>
  </ion-card>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Converte</ion-card-subtitle>
          <ion-card-title>Como Nasce Um Aplicativo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Aplicativo para Conversão de Moeda Criado a partir da necessidade de fazer cotações rápidas, eu utilizava uma planilha, atualizando a cotação do dolar turismo manualmente. Desenvolvido em conjunto com outro colega de trabalho, que ajudou na inteligência da aplicação. Eu mantenho o código atualizado, e ajudo na concepção de novas ideias para implementações futuras.</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Histórico de Versões</ion-card-title>
          </ion-card-header>
          <ion-card-content>          
            <ion-card-subtitle>V 2.0 (LIVE) </ion-card-subtitle>
            <p>
              <li>Mudança de framework (ionic)</li>
              <li>Migrado para DigitalOcean</li>
              <li>Crianção de Manifest para WebApp (PWA)</li>
              <li>Tema escuro Rulez!!</li>
              <li>Nova URL https://calc.soltaobit.com.br/</li>
            </p><br>
            <ion-card-subtitle>V 1.8 </ion-card-subtitle>
            <p>
              <li>Emojis ajustados</li>
              <li>Nova URL http://calc.soltaobit.com.br/app</li>
              <li>Migração para outro servidor</li>
              <li>Gráficos desativados devido a mudança de servidor</li>
            </p><br> 
            <ion-card-subtitle>V 1.7 </ion-card-subtitle>
            <p>
              <li>Emoji indicativo na contação do Dolar na página principal</li>
              <li>Emoji indicativo na contação do Dolar no painel de cotações</li>
              <li>Cotação de outras moedas no painel de cotações </li>
              <li>Histórico de 2 dias da cotação do Dolar</li>
              <li>Painel com gráfico acessado no ícone de gráfico ou na url /dolar</li>
            </p><br>
            <ion-card-subtitle>V 1.5</ion-card-subtitle>
            <p>
              <li>Cotação mostrada na tela inicial</li>
              <li>Variação da cotação mostrada através de emojis</li>
              <li>Beta de registro histórico de cotação</li>
            </p><br>
            <ion-card-subtitle>V 1.0</ion-card-subtitle>
            <p>
              <li>Dolar Turismo</li>
              <li>API</li>
              <li>Ajustes no registro do IP</li>
              <li>Favicon</li>
              <li>Nova URL http://muambacalc.mybluemix.net/</li>
            </p><br>
            <ion-card-subtitle>V 0.2</ion-card-subtitle>
            <p>
              <li>Interface Responsiva</li>
              <li>Campos ajustados</li>
              <li>Imagens nos labels</li>
              <li>Clausula de isenção</li>
              <li>Display de valores de referência</li>
              <li>Copyright</li>
              <li>Ajuste de segurança para Google</li>
            </p><br>
            <ion-card-subtitle>V 0.1</ion-card-subtitle>
            <p>
              <li> Cartão de Crédito</li>
              <li>Dólar - Banco </li>
              <li>IOF </li>
              <li>Dinheiro</li>
              <li>Pegar IP</li>
            </p><br>
            <div class="txt">© georgearaujo.com.br</div>
          </ion-card-content>
      </ion-card>
  </ion-content>
